<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <title>spotAspot: Parking App</title>
</head>
<body>
  <h1><center><p style="font-size:100px">spotAspot</p></h1>
  <h2><i>Finding a parking spot has never been easier!</i></h2>
  <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/umer936/spotAspot" data-style="mega" data-count-href="/umer936/spotAspot/watchers" data-count-api="/repos/umer936/spotAspot#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch umer936/spotAspot on GitHub">Github!</a>
  <img src="http://i64.tinypic.com/2ds30ae.jpg"></center>
  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
