<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <title>spotAspot: Parking App</title>
</head>
<body>
<center>
  <h1><p style="font-size:100px">spotAspot</p></h1>
  <h2><i>Finding a parking spot has never been easier!</i></h2>
  <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/umer936/spotAspot" data-style="mega" data-count-href="/umer936/spotAspot/watchers" data-count-api="/repos/umer936/spotAspot#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch umer936/spotAspot on GitHub">Github!</a>
  <br />
  <iframe src="https://docs.google.com/presentation/d/1KTmo4H0INWVR6Ihd_jma8Sdjf4MO_tL7FQ9ba3m6gHE/embed?start=false&loop=true&delayms=5000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <br />
  <img src="http://i64.tinypic.com/2ds30ae.jpg">
  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</center>
</body>
</html>
